<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
</head>
<body>

{% for product in products %}

    <div>
        <p>SKU: {{ product.sku }}</p>
        <h3>name: {{ product.name }}</h3>
        <p>price: {{ product.price }}</p>

        {% for atribute in product.atributes %}
            <p>{{ atribute.name }}: {{ atribute.value }}</p>
            
        {% endfor %}

        <br/>
    </div>
{% endfor %}

</body>
</html>